# Base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
env/
.venv/

# Archivos de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log